*.pyc
examples/example_data.ziphmm/data_structure
examples/example_data.ziphmm/nStates2seq/2.seq
examples/example_data.ziphmm/original_sequence
src/IMCoalHMM.egg-info/*
build/*
dist/*
setuptools-*
.idea/.name
.idea/IMCoalHMM.iml
.idea/dictionaries/mailund.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
src/.idea/encodings.xml
src/.idea/misc.xml
src/.idea/modules.xml
src/.idea/scopes/scope_settings.xml
src/.idea/src.iml
src/.idea/vcs.xml
src/.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
documentation/development-manual/.texpadtmp/main.aux
documentation/development-manual/.texpadtmp/main.log
documentation/development-manual/.texpadtmp/main.synctex.gz
documentation/development-manual/main.pdf
documentation/development-manual/.texpadtmp/main.bbl
documentation/development-manual/.texpadtmp/main.blg
simulations/initial-migration-model/.RData
simulations/initial-migration-model/.Rhistory
