#
# This is a sample configuration file for the heuristic-optimiser.py script.
#
# All settings in this file are default values unless otherwise noted.
# All settings shown on commented lines are optional.
# All comments and blank lines are ignored by the script.
# All 'timeout' settings are specified in units of seconds.
#
# If you have any questions or comments regarding the contents of this file,
# please feel free to contact Jade Cheng <ycheng@cs.au.dk>.
#

#
# COMMON SETTINGS
# 
# The 'alignments' setting is required.  Multiple paths are separated by ':'
# characters.  Any individual path may correspond to a zipHMM directory
# (containing a 'data_struture' file) or a parent directory to one or more
# zipHMM subdirectories.
#
alignments = ./sim-data

#
# The 'log_file' value may be 'none', which indicates the script will not
# write to a log file.  Otherwise, it represents the path to a text file to
# which the script will append its output.
#
# log_file = none

#
# The 'log_to_stdout' value may be 'true' or 'false' to indicate whether or
# not the script should write its output to the standard output stream.
#
# log_to_stdout = true

#
# GENETIC ALGORITHM SETTINGS
#
# Possible initialisation settings are:
#   'fixed'      with sub-setting { 'initial_value': 0.5 }
#   'gaussian'   with sub-setting { 'mu': 0.5, 'sigma': 0.15 }
#   'uniform'
#
# Possible selection settings are:
#   'roulette'
#   'stochastic'
#   'tournament' with sub-setting { 'tournament_ratio': 0.1 }
#   'truncation'
#
# Possible crossover settings are:
#   'one_point'
#   'two_point'
#   'uniform'    with sub-setting { 'first_parent_ratio': 0.5 }
#
# Possible mutation settings are:
#   'boundary'
#   'gaussian'   with sub-setting { 'mu': 0.0, 'sigma': 0.01 }
#   'uniform'
#
# optimiser                               = genetic_algorithm
# optimiser.crossover                     = one_point
# optimiser.elite_count                   = 1
# optimiser.hall_of_fame_size             = 5
# optimiser.initialisation                = uniform
# optimiser.max_generations               = 500
# optimiser.mutation                      = gaussian
# optimiser.mutation.mu                   = 0.0
# optimiser.mutation.point_mutation_ratio = 0.15
# optimiser.mutation.sigma                = 0.01
# optimiser.population_size               = 100
# optimiser.selection                     = tournament
# optimiser.selection.selection_ratio     = 0.75
# optimiser.selection.tournament_ratio    = 0.1
# optimiser.timeout                       = none

#
# PARTICLE SWARM OPTIMISATION SETTINGS
#
# optimiser                               = particle_swarm
# optimiser.max_initial_velocity          = 0.02
# optimiser.max_iterations                = 500
# optimiser.omega                         = 0.9
# optimiser.particle_count                = 100
# optimiser.phi_particle                  = 0.3
# optimiser.phi_swarm                     = 0.1
# optimiser.timeout                       = none

#
# ISOLATION MODEL SETTINGS
#
# model                                   = isolation
# model.coal_rate.max                     = 2000.0
# model.coal_rate.min                     = 0.0
# model.recomb_rate.max                   = 0.8
# model.recomb_rate.min                   = 0.0
# model.split_time.max                    = 0.004
# model.split_time.min                    = 0.0
# model.states                            = 10

#
# ISOLATION-WITH-INITIAL-MIGRATION MODEL SETTINGS
#
# model                                   = isolation_with_initial_migration
# model.ancestral_states                  = 10
# model.coal_rate.max                     = 2000.0
# model.coal_rate.min                     = 0.0
# model.isolation_time.max                = 0.002
# model.isolation_time.min                = 0.0
# model.mig_rate.max                      = 500.0
# model.mig_rate.min                      = 0.0
# model.mig_time.max                      = 0.016
# model.mig_time.min                      = 0.0
# model.migration_states                  = 10
# model.recomb_rate.max                   = 0.8
# model.recomb_rate.min                   = 0.0

#
# ISOLATION-WITH-INITIAL-MIGRATION-WITH-EPOCHS MODEL SETTINGS
#
# The number of 'coal_rate_?' ranges is 1 + (2 * 'epoch_factor').
# The number of 'mig_rate_?' ranges is 'epoch_factor'.
#
# model                                   = isolation_with_initial_migration_with_epochs
# model.ancestral_states                  = 10
# model.coal_rate_1.max                   = 2000.0
# model.coal_rate_1.min                   = 0.0
# model.coal_rate_2.max                   = 2000.0
# model.coal_rate_2.min                   = 0.0
# model.coal_rate_3.max                   = 2000.0
# model.coal_rate_3.min                   = 0.0
# model.epoch_factor                      = 1
# model.isolation_time.max                = 0.002
# model.isolation_time.min                = 0.0
# model.mig_rate_1.max                    = 500.0
# model.mig_rate_1.min                    = 0.0
# model.mig_time.max                      = 0.016
# model.mig_time.min                      = 0.0
# model.migration_states                  = 10
# model.recomb_rate.max                   = 0.8
# model.recomb_rate.min                   = 0.0
